<h1>Books</h1>
<!-- 投稿一覧 -->
<% @books.each do |book| %>
  <div class="book-list">
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan = "3"></th>
      </tr>
      <!--if文でレコードがある限り繰り返す-->
      <tr>
        <td><%= book.title %></td> <!-- Title -->
        <td><%= book.body %></td> <!-- Body -->
        <td><%= link_to "Show", book_path(book.id) %></td> <!-- Show -->
        <td><%= link_to "Edit", edit_book_path(book.id) %></td> <!-- Edit -->
        <td><%= link_to "Destroy", "books/id", method: :delete, "Are you sure？" %></td> <!-- Destroy(メッセージ付) -->
      </tr>
      <!--if end-->
    </table>
  </div>
<% end %>
<!-- 新規投稿フォーム -->
<h1>New book</h1>
<%= form_with model: @book, url '/books' ,method :post do |f| %>
<div class= "field">
  <label>Title</label>
  <%= f.text_field :title %>
</div>
<div class="field">
  <label>Body</label>
  <%= f.text_area :body %>
</div>
<%= f.submit 'Create Book'%>

<% end %>